*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 4px; 
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

body{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    width: 100%;
    height: 100vh;

    background: #91d3d9;
    position:relative;
}

#return-btn{
    cursor: pointer;
    opacity: 0.5
}

#return-btn:hover{
    opacity: 1;
}


.sample-container {
    width: 100%;
    height: 100px;
    background: #86ada0;
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-logout {
    background-color: #ffffff;
    color: #86ada0;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

.btn-logout:hover {
    background-color: #6b998d;
    color: white;
    cursor: pointer;
}


.main-container{
    width: 100%;
    height: 100%;
    background: #91d3d9;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
    /* margin-top: 20px; */

    /* display:none; */
}

.nav-main-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    background: #91d3d9;
}

.nav-main-div h2{
    margin:5px;
    padding:15px;
    font-weight: 600;
}

.nav-main-div .nav-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    border-bottom:1px solid white;
}

.nav-main-div .nav-div button{
    height: 100%;
    border:none;
    margin-right:5px;
    padding:10px;
    background: none;
    border-bottom:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:#3333ff;

    position:relative;
}

.nav-main-div .nav-div button:nth-child(1){
    background: #f2f2f2;
}

.nav-main-div .nav-div button:hover{
    border:1px solid #f2f2f2;
}

.nav-main-div .nav-div button span{
    background: red;
    border-radius: 50%;
    padding:1px 5px 1px 5px;
    height: 20px;
    width: 20px;
    color:white;

    top:-20%;
    right:0;
    position:absolute;
    font-size: 0.75rem;
}

#modal-notif .modal-content .modal-header{
    width: 100%;
    height: 50px;
    background: #344c44;
}

#modal-notif .modal-content .modal-header h5{
    color:white;
    font-weight: 600;
}

#modal-notif .modal-content #modal-body-incoming{
    width: 100%;
    height: 30px;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:0 0 0 15px;
    font-size: 1.3rem;
    font-weight: normal;
}

#modal-notif .modal-content .modal-footer{
    padding:0;
}

#modal-notif .modal-content .modal-footer button{
    background: #007bff;
    border:none;
    padding:7px;
    color:white;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}


